<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Cover page for Churn Prediction Web-app">
        <meta name="author" content="Joe Sanfilippo">
        <title> Churn Prediction Homepage </title>
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>

    <body>
        <div id="main-container">
            <header id="header">
                <section> Food Delivery Company </section>

                <nav>
                    <ul>
                        <li><a href="{{ url_for('index') }}"> Home </a></li>
                        <li><a href="{{ url_for('inputs') }}"></a> Inputs </a></li>
                        <li><a href="{{ url_for('predict') }}"></a> Predictions </a></li>
                    </ul>
                </nav>
            </header>            
            
            <section id="main-body-container">
                <article id="main-article">
                    <h1>Article Box</h1>
                    <section> You can write or mention your article description here </section>
                </article>
            </section>
            
            <footer id="footer"> Copyright this shiz </footer>
        </div>
    </body>
</html>