<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Churn Predictions Inputs</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Food Delivery Company</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-link active" href="{{ url_for('inputs') }}">Inputs</a>
            <a class="nav-link" href="{{ url_for('inputs') }}">Predictions</a>
            <a class="nav-link" href="{{ url_for('retrain') }}">Retrain Model</a>
            <a class="nav-link" href="{{ url_for('questions') }}">Questions?</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <form action="/predict" method='POST'>
            <h1 class="cover-heading">Enter Values for Predictions</h1>
            <p>City IDs (Separate multiple cities by ',')<br>Leave blank to include all cities</p>
            <p class="lead">
                <input type="text" class="btn btn-ip btn-input" value="City IDs" onfocus="if (this.value=='City IDs') this.value='';" name="city_ids"/>
            </p>
            <p>Number of days since a user signed up (> 30 days):</p>
            <p class="lead">
                <input type="text"  class="btn btn-ip btn-input" value="Lookback Days" onfocus="if (this.value=='Lookback Days') this.value='';" name="lookback_days"/>
            </p>
            <p>Minimum churn probability (0.0 - 1.0):</p>
            <p class="lead">
                <input type="text"  class="btn btn-ip btn-input" value="Churn Threshold" onfocus="if (this.value=='Churn Threshold') this.value='';" name="threshold"/>
            </p>
            <p class="lead">
                <input type="submit" class="btn btn-lg btn-secondary" value="Predict Churn"/>
            </p>
        </form>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
